
  <div class="container" [hidden]="!owner">
    <div class="row">
      <div class="col-sm-11">
          <h1>Game Details</h1>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-danger" type="button"
          (click)="openDeleteDialog()"
          [disabled]="!owner" >Delete
          </button>
      </div>
    </div>
  </div>
<div *ngIf="game">
  <div class="container">
    <div class="row">
      <div class="col-sm-11">
          <h1>{{ game.name }}</h1>
      </div>
    </div>
  </div>
  <p>Release: {{ game.release | date}}</p>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <iframe
          width="100%"
          height="90%"
          [src]="getEmbedUrl(game.trailer)"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-5">
        <img class="image" src="{{ game.image }}" />
        <p>
          Developer: <a href="{{ game.publisher.website }}">{{ game.publisher.name }}</a
          ><br />
          Publisher:
          <a href="{{ game.developer.website }}">{{ game.developer.name }}</a>
        </p>
        <p>{{ game.description }}</p>
      </div>
    </div>
  </div>
  <h3>Overview</h3>
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="cardbox">
            <h3>Developer</h3>
            <a class="biglink" href="{{ game.developer.website }}">{{ game.developer.name }} </a><br />
            {{ game.developer.description }} <br />
          </div>
        </div>
        <div class="col">
          <div class="cardbox">
            <h3>Publisher</h3>
            <a class="biglink" href="{{ game.publisher.website }}">{{ game.publisher.name }} </a><br />
            {{ game.publisher.description }} <br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="cardbox">
            <h3>Genre</h3>
            {{ game.categorie }} <br />
          </div>
        </div>
        <div class="col">
          <div class="cardbox">
            <h3>Platform</h3>
            {{ game.platform }} <br />
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="container"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <a
            class="link"
            routerLink="../../dashboard"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Back</a
          >
        </div>
        <div class="col">
          <a
            class="link2"
            *ngIf="userService.loggedIn() && owner"
            routerLink="../../games/edit/{{game._id}}"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Change</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
