<div class="container">
    <div class="row">
      <div class="col-sm-11">
        <h1>Publishers</h1>
      </div>
      <div class="col-sm-1">
        <a
          routerLink="../publishers/create"
          *ngIf="userService.loggedIn()"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Create</a
        >
      </div>
    </div>
  </div>
  <div class="container">
    <div id="Developers" class="row view-group">
      <div class="item col-xs-4 col-lg-4" *ngFor="let publisher of publishers">
        <div class="thumbnail card">
          <div class="img-event">
            <img
              class="group list-group-image img-fluid"
              src="{{ publisher.image }}"
              alt=""
              routerLink="../publishers/{{ publisher._id }}"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
            />
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">
              {{ publisher.name }}
            </h4>
            <h6>
              {{ publisher.release }}
            </h6>
  
            <p class="group inner list-group-item-text">
              {{ publisher.description }}
            </p>
            <a
              routerLink="../publishers/{{ publisher._id }}"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  