<div class="container" [hidden]="!owner">
  <div class="row">
    <div class="col-sm-11">
        <h1>Publisher Details</h1>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-danger" type="button"
        (click)="openDeleteDialog()"
        [disabled]="!owner" >Delete
        </button>
    </div>
  </div>
</div>
<div *ngIf="publisher">
    <div class="container">
        <div class="row">
          <div class="col-sm-11">
              <h1>{{ publisher.name }}</h1>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img class="image" src="{{ publisher.image }}" />
          
        </div>
        <div class="col-md-4">
            <h3>Description</h3>
            <p>{{ publisher.description }}</p>
            <h3>Founded</h3>
            <p>{{ publisher.founded }}</p>
            <h3>Headquarter</h3>
            <p>{{ publisher.headquarter }}</p>
            <a class="biglink" href="{{ publisher.website }}">Website </a>
        </div>
      </div>
    </div>
    <div *ngIf="publisher.games.length !== 0">
    <h3>Games</h3>
    <div class="card">
      <div class="container">
        <div *ngFor="let game of publisher.games"> 
        <div class="row">
          <div *for></div>
          <div class="col">
            <div class="cardbox">
              <h3>{{game.name}}</h3>
              <p>{{game.description}}</p>
              <img class="image" src="{{ game.image }}" />               
            </div>
          </div>         
        </div>
      </div>
    </div>
      <div class="card">
        <div class="container"></div>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col">
            <a
              class="link"
              routerLink="../../publishers"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Back</a
            >
          </div>
          <div class="col">
            <a
              class="link2"
              *ngIf="userService.loggedIn() && owner"
              routerLink="../../publishers/edit/{{publisher._id}}"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Change</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="publisher.games.length === 0">
    <div class="container">
      <div class="row">
        <div class="col">
          <a
            class="link"
            routerLink="../../publishers"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Back</a
          >
        </div>
        <div class="col">
          <a
            class="link2"
            *ngIf="userService.loggedIn() && owner"
            routerLink="../../publishers/edit/{{publisher._id}}"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Change</a
          >
        </div>
      </div>
    </div>
  </div>
  