<h1 mat-dialog-title>Delete Object</h1>
<mat-dialog-content>Are you sure that you want to delete this object?</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close="true" class="btn btn-danger">Delete</button>
    <button mat-button mat-dialog-close="false" type="button" class="btn btn-light">Back</button>
</mat-dialog-actions>