
<div class="container-fluid">
    <h1>Update developer</h1>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
    <form #developerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  
      <div class="form-group">
          <label>Name</label><br>
          <input class="form-control" type="text" #name="ngModel" [(ngModel)]="developerModel.name" [class.is-invalid]="name.invalid && name.touched" name="name" required />
          <small class="text-danger" [class.d-none] = "name.valid ">Name is required</small>
      </div>
      <div class="form-group">
          <label>Description</label><br>
          <input class="form-control" type="text" #description="ngModel" [(ngModel)]="developerModel.description" [class.is-invalid]="description.invalid && description.touched" name="description" required />
          <small class="text-danger" [class.d-none] = "description.valid ">Description is required</small>
      </div>
  
      <div class="form-group">
          <label>Website</label><br>
          <input class="form-control" type="url" #website="ngModel"  [(ngModel)]="developerModel.website"[class.is-invalid]="website.invalid && website.touched"  name="website" required  />
          <small class="text-danger" [class.d-none] = "website.valid ">Webiste is required</small>
      </div>
      <div class="form-group">
          <label>ImageLink</label><br>
          <input  class="form-control"type="url" #image="ngModel" [(ngModel)]="developerModel.image" [class.is-invalid]="image.invalid && image.touched"  name="image" required  />
          <small class="text-danger" [class.d-none] = "image.valid ">Image is required</small>
      </div>
      <div class="form-group">
        <label>Founded</label><br>
        <input class="form-control" type="url" #founded="ngModel"  [(ngModel)]="developerModel.founded"[class.is-invalid]="founded.invalid && founded.touched"  name="founded" required  />
        <small class="text-danger" [class.d-none] = "founded.valid ">Founded is required</small>
    </div>
    <div class="form-group">
      <label>Headquarter</label><br>
      <input class="form-control" type="url" #headquarter="ngModel"  [(ngModel)]="developerModel.headquarter"[class.is-invalid]="headquarter.invalid && headquarter.touched"  name="headquarter" required  />
      <small class="text-danger" [class.d-none] = "headquarter.valid ">Headquarter is required</small>
  </div>
      <button [disabled]="developerForm.form.invalid" class="btn btn-primary" type="submit" >Submit</button>
    </form>
  </div>
  
  <br />
  <a routerLink="../../" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
    >Back</a
  >
  