<div class="container-fluid">
  <h1>Create game</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #gameForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
      <label>Name</label><br>
      <input class="form-control" type="text" #name="ngModel" [(ngModel)]="gameModel.name"
        [class.is-invalid]="name.invalid && name.touched" name="name" required />
      <small class="text-danger" [class.d-none]="name.valid ">Name is required</small>
    </div>
    <div class="form-group">
      <label>Description</label><br>
      <input class="form-control" type="text" #description="ngModel" [(ngModel)]="gameModel.description"
        [class.is-invalid]="description.invalid && description.touched" name="description" required />
      <small class="text-danger" [class.d-none]="description.valid ">Description is required</small>
    </div>
    <div class="form-group">
      <label>Release</label><br>
      <input class="form-control" type="date" #release="ngModel" [(ngModel)]="gameModel.release"
        [class.is-invalid]="release.invalid && release.touched" name="release" required />
      <small class="text-danger" [class.d-none]="release.valid ">Release is required</small>
    </div>
    <div class="form-group">
      <label>Price</label><br>
      <input class="form-control" type="number" #price="ngModel" [(ngModel)]="gameModel.price"
        [class.is-invalid]="price.invalid && price.touched" name="price" required />
      <small class="text-danger" [class.d-none]="price.valid ">Price is required</small>
    </div>
    <div class="form-group">
      <label>Trailer</label><br>
      <input class="form-control" type="url" #trailer="ngModel" [(ngModel)]="gameModel.trailer"
        [class.is-invalid]="trailer.invalid && trailer.touched" name="trailer" required />
      <small class="text-danger" [class.d-none]="trailer.valid ">Trailer is required</small>
    </div>
    <div class="form-group">
      <label>ImageLink</label><br>
      <input class="form-control" type="url" #image="ngModel" [(ngModel)]="gameModel.image"
        [class.is-invalid]="image.invalid && image.touched" name="image" required />
      <small class="text-danger" [class.d-none]="image.valid ">Image is required</small>
    </div>

    <div class="form-group">
      <label>Platform</label><br>
      <p>Use commas between platforms</p>
      <input class="form-control" type="url" #platform="ngModel" [(ngModel)]="gameModel.platform"
        [class.is-invalid]="platform.invalid && platform.touched" name="platform" required />
      <small class="text-danger" [class.d-none]="platform.valid ">Platform is required</small>
    </div>
    <div class="form-group">
      <label>Categorie</label><br>
      <p>Use commas between categories</p>
      <input class="form-control" type="url" #categorie="ngModel" [(ngModel)]="gameModel.categorie"
        [class.is-invalid]="categorie.invalid && categorie.touched" name="categorie" required />
      <small class="text-danger" [class.d-none]="categorie.valid ">Categorie is required</small>
    </div>
    <div class="form-group">
      <label>Publisher</label><br>
      <select class="custom-select" #publisher="ngModel" [(ngModel)]="gameModel.publisher"
        [class.is-invalid]="publisher.invalid && publisher.touched" name="publisher" required >
        <option *ngFor="let publisher of publishers" value="{{publisher._id}}">{{publisher.name}}</option>
      </select>
      <small class="text-danger" [class.d-none]="publisher.valid ">Publisher is required</small>
    </div>
    <div class="form-group">
      <label>Developer</label><br>
      <select class="custom-select" #developer="ngModel" [(ngModel)]="gameModel.developer"
        [class.is-invalid]="developer.invalid && developer.touched" name="developer" required >
        <option *ngFor="let developer of developers" value="{{developer._id}}">{{developer.name}}</option>
      </select>
      <small class="text-danger" [class.d-none]="developer.valid ">Developer is required</small>
    </div>

    <button [disabled]="gameForm.form.invalid"  class="btn btn-primary" type="submit">Submit</button>
  </form>

</div>
<br />
<a routerLink="../../" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Back</a>