
<div class="container-fluid">
    <h1>Register</h1>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  
      <div class="form-group">
          <label>Username</label><br>
          <input class="form-control" type="text" #username="ngModel" [(ngModel)]="userModel.username" [class.is-invalid]="username.invalid && username.touched" name="username" required />
          <small class="text-danger" [class.d-none] = "username.valid ">Username is required</small>
      </div>
      <div class="form-group">
          <label>Password</label><br>
          <input class="form-control" type="password" #password="ngModel" [(ngModel)]="userModel.password" [class.is-invalid]="password.invalid && password.touched" name="password" required />
          <small class="text-danger" [class.d-none] = "password.valid ">Password is required</small>
      </div> 
      
      <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit" >Submit</button>
    </form>
  </div>
  
  <br />
  <a routerLink="../dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
    >Back</a
  >
  