.container {
  margin-top: 80px;
}
.image {
  width: 380px;
  height: 180px;
  object-fit: cover;
  padding-bottom: 20px;
}
.col {
  padding-left: 0px;
}
.link {
  font-size: 20px;
}
.link2 {
  font-size: 20px;
  float: right;
}
.cardbox {
  padding: 15px;
}
