.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}
.col {
  padding-left: 0px;
}
.link {
  font-size: 20px;
}
.link2 {
  font-size: 20px;
  float: right;
}
.cardbox {
  padding: 15px;
}
.biglink {
  font-size: 30px;
}
